
$primary : rgb(37, 37, 37);

body,html { 
    margin : 0 ;
    padding :0 ;
    
    
}

@import url('https://fonts.googleapis.com/css?family=Montserrat');

/*FISRT MOBILE*/

body{
    margin : 0 ; 
    padding : 0 ;
    font-family: 'Montserrat', sans-serif;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    display: grid;
    
    scroll-snap-type:  y mandatory;
    overflow-y: scroll;
}

*{
    margin : 0;
}

nav{ 
    position: relative;

}

nav ul { 
    background: transparent;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

ul li {
    transition:.4s;
    margin: 15px;
    padding: 16px 20px;
    text-align: center;
}

 ul li a{
    text-decoration: none;
    color :$primary;
    text-transform: uppercase;
    display: block;
    color : whitesmoke;
    font-size: .8em;
}

.toggle {
    background: transparent;
    padding: 1.5em 1.4em;
    display: block;
   
}

.toggle .menu { 
    float: right;
    color : whitesmoke;
    font-size: 1.7em;
    
    cursor: pointer;
    display: block;
}



.toggle figcaption{
    color : whitesmoke;
}

/*HEADER*/
header {
    position: relative;
    height: 800px;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
        
}

.main{
    display: grid;
    height: 86vh;
   
    
}

header .main {
    padding: 1em;
}



.main .titulo h1{
    margin: 80px auto 0px 10px ;
    font-size: 2.4em;
    color : whitesmoke;
    text-align : center;
    font-weight: bold;
}

.main .titulo p
{
    color : white;
    text-align: center;

}


.main a{ 
    font-weight: bold;
    padding : 15px 40px;
    margin: 30px auto;
    text-decoration: none;
    color : whitesmoke;
    text-transform: uppercase;
    border : 2px solid  whitesmoke;
    border-radius: 40px;
    text-align: center;
    width: 50%;
    display: block;
    
        
    }

.redes
{
  
    
    text-align: center;
    border-radius: 30px;
    font-size: 1.5em;
    margin: 40% auto;
    left: 0;
    right: 0;
    color : white;

    
   
}


/*section*/

section{
    position: relative;
    background: #ffdfdf;

    
}
/*aboutme*/
section:nth-of-type(1){
    background : white;
    display: grid;
    height:800px;
    h1
    {
        color :rgb(63, 61, 61);;
        text-transform: uppercase;
        margin: 30px auto;
        
        padding: 20px 25px;
        
    }

    img
    {
        margin: 1px auto;
        height: 150px;
        width: 150px;
        border-radius: 50%;
        display: block;
    }

    p
    {
        color : grey;
        width: 60%;
        margin: 40px auto;
    }

    a 
    {
        text-decoration: none;
        text-transform: uppercase;
        padding : 13px 50px;
        border-radius: 40px;
        text-align: center;
        color :white;
        margin:80px auto;
        display: block;
        width: 30%;
        background: rgb(36, 36, 36);
    }

       
    

   
}

section:nth-of-type(2){

    background: whitesmoke;
    height: 800px;

    h1 {
        color :rgb(29, 28, 28);
        margin: 25px auto;
        padding: 20px 25px;
        text-transform: uppercase;
    }


    .works{
        display: grid;
    }
    .work
    {
        height: 250px;
        width: 250px;
        background: #ccc;
        margin: 20px auto;
    }
   
}




.portafolio {

    h2 {
        text-transform: uppercase;
        font-size: 1.7em;
        text-align: center;
        margin-top: 10%;
        color : #aedefc;
    }
}

.trabajos {
    position: relative;
    margin: 54px auto auto 0px;
}
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Cinzel|Lobster|Permanent+Marker|Playfair+Display+SC');

.titulo-ropa{
    position: absolute;
    bottom: -30px;
    width: 75%;
    
    p{ 
        font-family: 'Playfair Display SC', serif;               
        color : whitesmoke;
        text-align: center;
        padding: 1.5em .5em;
        text-transform: uppercase;
    }
    
}


/*FOOTER*/
footer {
    
    background: $primary;
    height: 100vh;
    display: grid;
}


.title{
    margin-top: 40px;
}

footer .title{

    h3{
        background-color: #0093E9;
        background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
        color : whitesmoke; 
        text-transform : uppercase;
         text-align : left; 
        font-size : 1.7em;
        width: 50%;
        padding :10px 40px;
        -webkit-clip-path: polygon(0 0, 100% 0, 86% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 86% 100%, 0% 100%);
    }

    p{
        margin-top : 40px;
        color : #aaa;
        text-align: left;
        padding : 10px 30px;
        font-size: .8em;
    }
}

footer .correos{
    margin-top: 30px;
    padding : 1.4em 1.5em;
    background: $primary;
    
    i{
        float: left;
        display: block;
        margin-right: 23px;
        margin-left: 15px;
        color : #aaa;

    }

    p{
        margin-bottom: 20px;
        color : #aaa;
        
    }
}


.form-contact{
    
    background: $primary;
    h4{
       background-color: #0093E9;
        background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
        color : whitesmoke; 
        text-transform : uppercase;
         text-align : left; 
        font-size : 1.4em;
        width: 50%;
        padding :10px 40px;
        -webkit-clip-path: polygon(0 0, 100% 0, 86% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 86% 100%, 0% 100%);
    }
}

form{
    display: block;
    padding: 2em;
    background: $primary;

    input { 
        border : none;
        margin: 15px auto;
        background : transparent;
        border-bottom: 1px solid #aaa;
        padding: 10px 0px;
        width: 100%;
        color : white;
        font-size: 1.2em;
        &:focus{
            color : #7dbce4;
        }
    }

    textarea{
        margin-top: 15px;
        width: 100%;
        border: none;
        background: transparent;
        border-bottom: 1px solid #aaa;
        font-size: 1.2em;
        color : whitesmoke;

        &:focus{
            color : white;
        }
    }
}



.submit .enviar{
    border : none;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    font-weight: bold;
    color : whitesmoke;
    text-transform: uppercase;
    border-radius: 40px;
    margin : 30px auto;
    display: block;
}

@media (min-width: 768px) { 

    header
    {
        height: 100vh;


        .main .titulo{
            h1 {
                font-size: 3.3em;
            }

            a{
                width: 30%;
            }

            
        }

        .redes{
            font-size: 1.8em;
        }
    }

    section
    {
        h1 {
            font-size: 2em;
        }

        

        &:nth-of-type(1){

            p{
                font-size: 1.3em;
                text-align: center;
            }

            a {
                padding : 20px 40px;
            }
        }
        
    }

    footer
    {
       .title  
       {
         h3 {
             width: 28%;
         }

           p{
            font-size: 1.1em;
           }
       }
    }

    .correos
    {
        display: grid;
        grid-template-columns: 50% auto;
        text-align: center;
        
    }

    .form-contact
    {
        h4{
            width: 28%;
        }
    }
}
 
