@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Abril+Fatface|Cinzel|Lobster|Permanent+Marker|Playfair+Display+SC");
body, html {
  margin: 0;
  padding: 0;
}

/*FISRT MOBILE*/
body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow-y: scroll;
  display: -ms-grid;
  display: grid;
  background: #fb929e;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

* {
  margin: 0;
}

nav {
  position: relative;
}

nav ul {
  background: #520556;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease-out;
  transition: max-height 0.3s ease-out;
}

ul li {
  -webkit-transition: .4s;
  transition: .4s;
  margin: 15px;
  padding: 16px 20px;
  text-align: center;
}

ul li a {
  text-decoration: none;
  color: #252525;
  text-transform: uppercase;
  display: block;
  color: whitesmoke;
  font-size: .8em;
}

.toggle {
  background: #520556;
  padding: 1.5em 1.4em;
  display: block;
}

.toggle .menu {
  float: right;
  color: whitesmoke;
  font-size: 1.7em;
  cursor: pointer;
  display: block;
}

.toggle figcaption {
  color: whitesmoke;
}

/*HEADER*/
header {
  position: relative;
  height: 750px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#520556+1,8b104e+19,ca431d+43,ff9900+71,f7ef00+100 */
  background: #520556;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #520556), color-stop(19%, #8b104e), color-stop(43%, #ca431d), color-stop(71%, #ff9900), to(#f7ef00));
  background: linear-gradient(to bottom, #520556 1%, #8b104e 19%, #ca431d 43%, #ff9900 71%, #f7ef00 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#520556', endColorstr='#f7ef00',GradientType=0 );
  /* IE6-9 */
}

.main {
  display: -ms-grid;
  display: grid;
}

header .main {
  padding: 2em;
}

.main h1 {
  margin: 80px 0px;
  font-size: 2.4em;
  color: whitesmoke;
}

.main h1 span {
  color: white;
  font-weight: bold;
  text-transform: lowercase;
}

.main a {
  font-weight: bold;
  padding: 15px 40px;
  text-decoration: none;
  color: whitesmoke;
  text-transform: uppercase;
  border: 2px solid  whitesmoke;
  border-radius: 40px;
  width: 40%;
  margin: 100px auto;
  text-align: center;
}

/*section*/
section {
  position: relative;
  background: #ffdfdf;
  height: 930px;
}

/*aboutme*/
section:nth-of-type(1) {
  background: white;
}

section:nth-of-type(1) h1 {
  color: #f484ab;
  text-transform: uppercase;
  margin: 30px auto;
  padding: 20px 25px;
  -webkit-text-decoration: underline wavy #f49aa3;
          text-decoration: underline wavy #f49aa3;
  -webkit-text-decoration-color: #f49aa3;
          text-decoration-color: #f49aa3;
}

section:nth-of-type(1) p {
  color: grey;
  width: 60%;
  margin: 50px auto;
}

section:nth-of-type(1) .foto {
  position: relative;
  margin: 130px 0;
  height: 500px;
  max-width: 10%;
  bottom: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f49aa3+0,258dc8+100 */
  background: #f49aa3;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #f49aa3 0%, #258dc8 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f49aa3', endColorstr='#258dc8',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  -webkit-transition: .9s;
  transition: .9s;
}

section:nth-of-type(1) .foto img {
  position: absolute;
  width: 350px;
  height: 350px;
  top: 12%;
  left: -390px;
  -webkit-transition: .9s;
  transition: .9s;
}

section:nth-of-type(1) .foto:hover {
  max-width: 100%;
}

section:nth-of-type(1) .foto:hover img {
  left: 10px;
}

section:nth-of-type(2) h1 {
  color: #36ec6d;
}

.portafolio h2 {
  text-transform: uppercase;
  font-size: 1.7em;
  text-align: center;
  margin-top: 10%;
  color: #aedefc;
}

.trabajos {
  position: relative;
  margin: 54px auto auto 0px;
}

.titulo-ropa {
  position: absolute;
  bottom: -30px;
  width: 75%;
}

.titulo-ropa p {
  font-family: 'Playfair Display SC', serif;
  color: whitesmoke;
  text-align: center;
  padding: 1.5em .5em;
  text-transform: uppercase;
}

/*FOOTER*/
footer {
  background: #252525;
  height: 100vh;
}

.title {
  margin-top: 40px;
}

footer .title h3 {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ef81b4+1,9742bf+50,7a07f4+100 */
  background: #ef81b4;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, right top, color-stop(1%, #ef81b4), color-stop(50%, #9742bf), to(#7a07f4));
  background: linear-gradient(to right, #ef81b4 1%, #9742bf 50%, #7a07f4 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef81b4', endColorstr='#7a07f4',GradientType=1 );
  /* IE6-9 */
  color: whitesmoke;
  text-transform: uppercase;
  text-align: left;
  font-size: 1.7em;
  width: 50%;
  padding: 10px 40px;
  -webkit-clip-path: polygon(0 0, 100% 0, 86% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 86% 100%, 0% 100%);
}

footer .title p {
  margin-top: 40px;
  color: #aaa;
  text-align: left;
  padding: 10px 30px;
  font-size: .8em;
}

footer .correos {
  margin-top: 30px;
  padding: 1.4em 1.5em;
}

footer .correos i {
  float: left;
  display: block;
  margin-right: 29px;
  margin-left: 20px;
  color: #aaa;
}

footer .correos p {
  margin-bottom: 20px;
  color: #aaa;
}

.form-contact {
  margin-top: 40px;
  background: none;
}

.form-contact h4 {
  -webkit-clip-path: polygon(0 0, 100% 0, 86% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 86% 100%, 0% 100%);
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ef81b4+1,9742bf+50,7a07f4+100 */
  background: #ef81b4;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, right top, color-stop(1%, #ef81b4), color-stop(50%, #9742bf), to(#7a07f4));
  background: linear-gradient(to right, #ef81b4 1%, #9742bf 50%, #7a07f4 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef81b4', endColorstr='#7a07f4',GradientType=1 );
  /* IE6-9 */
  color: whitesmoke;
  padding: 10px 40px;
  width: 50%;
  font-size: 1.4em;
  text-transform: uppercase;
}

form {
  display: block;
  padding: 2em;
  background: #252525;
}

form input {
  border: none;
  margin: 15px auto;
  background: transparent;
  border-bottom: 1px solid #aaa;
  padding: 10px 0px;
  width: 100%;
  color: white;
  font-size: 1.2em;
}

form input:focus {
  color: #7dbce4;
}

form textarea {
  margin-top: 15px;
  width: 100%;
  border: none;
  background: transparent;
  border-bottom: 1px solid #aaa;
  font-size: 1.2em;
  color: whitesmoke;
}

form textarea:focus {
  color: white;
}

.submit .enviar {
  border: none;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ef81b4+1,9742bf+50,7a07f4+100 */
  background: #ef81b4;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, right top, color-stop(1%, #ef81b4), color-stop(50%, #9742bf), to(#7a07f4));
  background: linear-gradient(to right, #ef81b4 1%, #9742bf 50%, #7a07f4 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef81b4', endColorstr='#7a07f4',GradientType=1 );
  /* IE6-9 */
  font-weight: bold;
  color: whitesmoke;
  text-transform: uppercase;
  border-radius: 40px;
  margin: 30px auto;
  display: block;
}
/*# sourceMappingURL=main.css.map */